[submodule "vendor/powerline-fonts"]
	path = vendor/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vendor/base16-iterm2"]
	path = vendor/base16-iterm2
	url = https://github.com/martinlindhe/base16-iterm2.git
