[submodule "vendor/powerline-fonts"]
	path = vendor/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vendor/base16-iterm2"]
	path = vendor/base16-iterm2
	url = https://github.com/martinlindhe/base16-iterm2.git
[submodule "roles/dotfiles/files/.zsh/base16-shell"]
	path = roles/dotfiles/files/zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "roles/dotfiles/files/.zsh/zsh-autosuggestions"]
	path = roles/dotfiles/files/zsh/zsh-auto-suggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "roles/dotfiles/files/.zsh/zsh-syntax-hightlighting"]
	path = roles/dotfiles/files/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "roles/dotfiles/files/.vim/bundle/youcompleteme"]
	path = roles/dotfiles/files/.vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme.git
[submodule "vendor/docker-cli"]
	path = vendor/docker-cli
	url = https://github.com/docker/cli.git
