---
- name: install packages from file
  apt:
    deb: '{{ item }}'
    update_cache: false
  become: true
  with_items:
    - '{{ debs }}'
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: install packages
  apt:
    name: '{{ packages }}'
    update_cache: true
    state: present
  become: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: install casks
  shell:
  args:
    cmd: 'brew install {{ item }}'
  with_items:
    - '{{ casks }}'
  when: ansible_distribution == 'MacOSX'

- name: Install PyPi packages
  pip:
    name: '{{ pips }}'
    executable: pip3

- name: Install NVM
  shell: |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
  args:
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"

- name: Install latest LTS Node.js via NVM
  shell: |
    source {{ ansible_env.HOME }}/.nvm/nvm.sh
    nvm install --lts
    nvm alias default lts/*
  args:
    executable: /bin/bash
    creates: "{{ ansible_env.HOME }}/.nvm/versions/node"

- name: Install npm packages globally
  shell: |
    source {{ ansible_env.HOME }}/.nvm/nvm.sh
    npm install -g {{ item }}
  args:
    executable: /bin/bash
  with_items:
    - '{{ npms }}'
