snippet apictlr "Controller"

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;

namespace ${1:MyNameSpace}.Controllers
{
    [Route("api/[controller]")]
    [ApiController]
    public class ${2:My}Controller : ControllerBase
    {
	$0
    }
}
endsnippet

